<p id="notice"><%= notice %></p>

<h1>Listing Folhetos</h1>

<table>
  <thead>
    <tr>
      <th>Link video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folhetos.each do |folheto| %>
      <tr>
        <td><%= folheto.link_video %></td>
        <td><%= link_to 'Show', folheto %></td>
        <td><%= link_to 'Edit', edit_intranet_folheto_path(folheto) %></td>
        <td><%= link_to 'Destroy', intranet_folheto_path(folheto), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folheto', new_intranet_folheto_path %>
