
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/intranet/dashboard" class="site_title"> <%= image_tag "updaterv6.svg" %> <span>UPDATER V.6</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag "img.jpg", :class => "img-circle profile_img" %>
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%= session[:user_name].titleize %> </h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a href="<%= intranet_capa_index_path %>"><i class="fa fa-bar-chart"></i> Painel Administrativo</a>
          </li>
          <li><a href="<%= intranet_users_path %>"><i class="fa fa-user"></i> Usuários</a>
          </li>
          <li><a href="<%= intranet_kind_of_posts_path %>"><i class="fa fa-edit"></i> Tipo De Postagem</a>
          </li>
          <li><a><i class="fa fa-desktop"></i> Postagens <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <% KindOfPost.all.each do |tipospost| %>
              <li>
                <!-- TODO link para metodo que vai para view posts o tipo do post igual ao nome clicado -->
                <%= link_to (tipospost.name).titleize, intranet_kind_of_post_posts_path(tipospost) %>
              </li>
              <%end%>
            </ul>
          </li>
          <li><a href="<%= intranet_categories_path %>"><i class="fa fa-table"></i> Categorias</a>
          </li>
        </ul>
      </div>
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="<%= intranet_logout_path %>">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>

  <div class="top_nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= image_tag "updaterv6.svg" %><%= session[:user_name].titleize %>
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><a href="<%= intranet_logout_path %>"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
